body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #5c677d;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 /* image styling */
 img{
  
  width: 30%;
  margin-left: 50%;
 
  background-attachment: fixed;
  /* margin-top:10%;
  width: 30%;
  height: auto;
  margin-left: 50%;
  position:auto; */
 }
  
/* nav link color */

